.detail_all {
    margin-top: 100px;
    min-height : calc(100vh - 120px) ;
    color: #5a6c7d;
    @include mobile() {
        width: 90%;
    }

    .top_btn {
        color: white;
        padding: 3px 12px;
        cursor: pointer;
        background-color: $main-color4;
        margin-right: 10px;
        border: 0;
        &:hover {
            background-color: #697888;
        }
    }

    .badge-secondary {
        font-size: 12px;
        background-color: #d4ac70;
        border-radius: 0;
        font-weight: normal;
        // background-color: #3c4a57;
    }

    .pd_title {
        font-weight: 700;
    }

    .pd_price {
        color: #8d6128;
        font-weight: 900;
    }

    .pd_img_all {
        margin-bottom: 40px;
        .pd_img {
            width: 95%;
            // height: 100%;
            box-shadow: 2px 2px 10px rgb(192, 192, 192);
            @include pad() {
                width: 100%;
            }
        }

        // .pd_img_bg {
        //     position: absolute;
        //     left: -200px;
        //     top: 40px;
        //     width: 125%;
        //     height: 100%;
        //     background-color: #f0eae1;
        //     z-index: -1;
        //     @include pc-s() {
        //         width: 130%;
        //     }

        //     @include pad-pro() {
        //         width: 140%;
        //     }

        //     @include mobile() {
        //         display: none;
        //     }
        // }
    }
    

    select {
        color: #8d6128;
        width: 20%;
        border: 1px solid #8d6128;
        border-radius: 0px;
        padding: 5px;
        cursor: pointer;
        @include pad-pro() {
            width: 30%;
        }

        option {
            cursor: pointer;
            padding: 5px;
        }
    }

    .addcart_tooltip {
        display: flex;
        flex-wrap: nowrap;

        .btn:focus {
            box-shadow: 0 0 0;
        }

        .btn_addcart {
            background-color: #794400;
            color: white;
            border-radius: 0px;

            .fa-spinner {
                color: white;
            }

            .fa-cart-plus {
                color: white;
            }
        }

        .tooltip_custom {
            @include center;
            opacity: 0;

            .arrow {
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 7px 9px 7px 0;
                border-color: transparent $main-color2 transparent transparent;
            }

            .tooltip_inner {
                color: white;
                width: 100px;
                height: 30px;
                background-color: $main-color2;
                @include center;
            }
        }
    }
}